<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Cadastro de categoria</h2>
    </div>

    <div class="card-body">
      <form action="" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Qual o titulo da sua categoria?"
          />
        </div>

        <button type="submit" class="btn btn-primary">Criar categoria</button>
      </form>
    </div>
  </div>
</div>
<h1>ola Jack</h1>

<%- include('../../partials/footer.ejs') %>
