body {
  background-color: #eceff1;
}

.jk-button {
  width: 200px;
  float: right;
}

.alert {
  text-align: center;
  
  p {
    font-weight: 500;
    font-size: 1.2rem;
    opacity: .5;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}